* {
	font-family: 'Roboto' san-serif;
}

/*Header*/
.header {
	position: relative;
}
nav {
	height: 51px;
	background: #212121;
	}
.menu {
	display: flex;
	justify-content: space-between;
	padding: 12px 70px;
	margin: 0;
	list-style: none;
	text-decoration: none;
}	

.menu a {
	text-decoration: none;
}
.menu_link {
	color: #fff;
	font-weight: 300;
	font-size: 15px;
	line-height: 15px;
}
.menu_item {
	border-right: 2px dotted black;
	padding-right: 28px;
}
.subheader {
	width: 100%;
	background-color: rgba(0, 0, 0, .6);
	position: absolute;

}
.row {
	padding-top: 21px;
}
.subheader .subheader_logo {
	min-width: 100%;
}
.subheader_official {

	font-weight: 400;
	font-size: 13px;
	color: #fff;
	margin-bottom: 16px;
}
.subheader_call {
	font-weight: 400;
	font-size: 13px;
	color: #fff;
	text-align: right;
}
.subheader_number {
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	text-align: right;
	text-decoration: none;
}
.subheader_btn {
	text-transform: uppercase;

	width: 172px;
	height: 46px;


	background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
	box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;


	font-weight: 400;
	font-size: 14px;
	
	
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;

	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/*promo*/
.promo {
	padding: 151px 0 162px 0;
	background: url(../img/bg/uber_bg.png) center center/cover no-repeat;
}
.promo_header {
	font-weight: 900;
	font-size: 60px;
	color: #fff;
	font-weight: 900;
	text-align: center;

}
.promo_subheader {
	font-weight: 700;
	font-size: 36px;
	color: #fff;
	text-align: center;
	

}
.promo_descr {
	margin-top: 22px;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-bottom: 110px;
}
.promo_btn {
	width: 259px;
	height: 63px;
	display: block;
	
	background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
	box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	margin: 0 auto;

	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
	font-size: 18px;
	font-weight: 300px;
}
/*work*/
.work {
	padding: 20px 0 70px 0;
}
.work h2 {
	margin: 0 auto;	
	width: 113px;
	height: 24px;
	background-color: #000;
	text-align: center;
	align-items: center;

	border-radius: 2px;
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 11px;
	justify-content: space-around;
	

	display: flex;
	text-transform: uppercase;

	color: #FFFFFF;
}
.cause {
	display: block;
	font-weight: 700;
	font-size: 38px;
	margin: 0 auto 50px;
	display: block;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #222222;
}


.item_header {

	font-weight: 400;
	font-size: 17px;
	color: #1EACC7;
}
.item_text {
	font-weight: 300;
	font-size: 17px;
	align-items: center;
	color: #202020;

}
.reasons_around {
	width: 113px;
	height: 113px;
	border-radius: 100%;
	background: #1EACC7;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}
.reasons_block {
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.reasons_block_left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.deskr {
	max-width: 370px;
	margin-left: 15px;
}
.col-md-6 {
	margin: auto 0;

} 

  